.metricas {
  display: flex;
  padding-top: 100px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.metricas-caixa {
  width: 35ch;
}
.metricas-caixa span {
  padding-bottom: 12px;
}
.metricas-caixa h2 {
  padding-bottom: 8px;
}
@media (max-width: 1200px) {
  .metricas {
    justify-content: center;
    gap: 20px;
  }
}
@media (max-width: 900px) {
  .metricas {
    text-align: center;
    padding-top: 50px;
  }
}
@media (max-width: 500px) {
  .metricas {
    padding-top: 25px;
  }
}