.review-bg {
  margin-top: 96px;
}
.review {
  display: grid;
  justify-items: center;
  text-align: center;
  row-gap: 4px;
  padding: 64px;
  background: rgba(196, 25, 25, 0.03);
  border-radius: 16px;
}
.review span,
.review img {
  margin-bottom: 10px;
}
.review p {
  margin-bottom: 28px;
}
@media (max-width: 600px) {
  .review-bg{
    margin-top: 48px;
  }
  .review p {
    font-size: 1.5rem;
  }
}
